.cardDetail {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;

  @include medium {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    align-items: flex-start;
  }

 
}

.containerImg__img {
  height: 20rem;
  margin-right: 1rem;
}

.cardDetail__container{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    flex-direction: row;
  }

 
}

.cardDetail__title {
  padding: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.cardDetail__price {
  font-weight: bold;
  padding: 0.5rem;

  span {
    font-weight: normal;
  }
}

.cardDetail__description, .cardDetail__category{
  padding: 0.5rem;
  span{
  font-weight: bold;

  }

}



.linkCart{
  color: $secundary;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: $colorBtn;
  padding: 0.8rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  color: $secundary;
  text-align: center;

  &:hover{
    opacity: 1;
  }
}