.textCenter {
  text-align: center;
}


.ContainerWait__title{
  color: $primary;
  text-align: center;
  padding: 1rem;
}

.alertError {
  width: 70%;

  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}